extend layout.pug
block content
  table(width="100%")
    tr
      td
        h2 버스 탑승 신청
        h3 (총 좌석: 44, 등록된 좌석: #{count})
    tr
      td
        label 그룹
    tr
      td
        select#group(class="reg-select")
          option(value="") 선택
          option(value="bride") 신부
          option(value="groom") 신랑
    tr
      td
        label(for="name",class="reg-label") 이름
    tr 
      td
        input#name(placeholder="이름을 입력해주세요.",class="reg-inp")
    tr
      td
        label(for="contact",class="reg-label") 전화번호
    tr
      td
        input#num(type="tel", maxlength="11",placeholder="ex)01098765757",class="reg-num1")
    tr
      td
        label(for="contact",class="reg-label") 비밀번호
    tr
      td
        input#pwd(type="password", maxlength="4",class="reg-pwd")
    tr
      td(class="btn-area")
        a(class="btn", href="#", onclick="regist();return false;") 등록
    tr
        td(class="btn-area")
          a(class="btn", href="#", onclick="cancel();return false;") 등록 취소