extend layout.pug

block scripts
  script(src='/javascripts/index.js')
    
block content
  table(width="100%")
    tr
      td
        h2 버스 탑승 신청
        h3 (총 좌석: 44, 등록된 좌석: #{count})
        p(style="color:red;") 3월 1일 금요일 오전 7시 30분 
        p 장소: 사당역 1번 출구 공영주차장
    tr
      td
        label 탑승구간
    tr
      td
        select#trip(class="reg-select")
          option(value="roundtrip" selected) 왕복(서울<->순천)
          option(value="depart") 가는편(서울->순천)
          option(value="return") 오는편(순천->서울)
    tr
      td
        label 그룹
    tr
      td
        select#group(class="reg-select")
          option(value="") 선택
          option(value="groom") 신랑
          option(value="bride") 신부
    tr
      td
        label(for="name",class="reg-label") 이름
    tr 
      td
        input#name(placeholder="이름을 입력해주세요.",class="reg-inp")
    tr
      td
        label(for="contact",class="reg-label") 전화번호
    tr
      td
        input#num(type="tel", maxlength="11",placeholder="ex)01098765757",class="reg-num1")
    tr
      td
        label(for="contact",class="reg-label") 비밀번호
    tr
      td
        input#pwd(type="password", maxlength="4",class="reg-pwd",placeholder="4자리 비밀번호")
    tr
      td(class="btn-area")
        a(class="btn", href="#", onclick="regist();return false;") 등록
    tr
      td(class="btn-area")
        a(class="btn", href="#", onclick="cancel();return false;") 등록 취소
    tr
      td(class="btn-area")
        a(class="btn", href="./list") 등록 리스트
    tr
      td
        h3 약도
        div#map(style="width:100%;height:400px")
  script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8ab518903c4c4ef40e7d73fd0cdfcaf2&libraries=clusterer,services")
  script.
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new daum.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴

    var geocoder = new daum.maps.services.Geocoder();
    geocoder.addressSearch('서울 서초구 방배동 507-1', function(result, status) {

        // 정상적으로 검색이 완료됐으면 
        if (status === daum.maps.services.Status.OK) {

            var coords = new daum.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new daum.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new daum.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">사당역 공영주차장</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        } 
    });    

    
  