doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=no')
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/common.js')
    block scripts
  body
   table(width="100%")
      tr
        td
          block content